<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'User info: ' + ${user.getName()} + ' ' + ${user.getSurname()}"></title>
    <style type="text/css">
        BODY {
            font-family: Consolas, serif;
        }
        FORM {
            display: inline;
        }
    </style>
</head>
<body>
    <h1 th:text="${user.getName()} + ' ' + ${user.getSurname()}"></h1>
    <p th:text="'Id: ' + ${user.getId()}"></p>
    <p th:text="'Age: ' + ${user.getAge()}"></p>
    <p th:text="'Email: ' + ${user.getEmail()}"></p>
    <hr>

    <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Edit">
    </form>
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
    <form th:method="GET" th:action="@{/users/new}">
        <input type="submit" value="Create new user">
    </form>

</body>
</html>